/*页面初始化*/

* {
	/*去掉所有的内外边距*/
	margin: 0;
	padding: 0;
}

body {
	/*初始化背景色*/
	background-color: #fff;
}

ul,
ol {
	/*去掉列表的默认样式*/
	list-style: none;
}

a {
	/*去掉a标签的下划线*/
	text-decoration: none;
	/*去掉默认颜色*/
	color: #000;
}


/*------------------------------*/


/*公共样式*/

.content {
	/*内容居中*/
	width: 96%;
	margin: 0 auto;
}

.float-l {
	/*左浮动*/
	float: left;
}

.float-r {
	/*右浮动*/
	float: right;
}

.float-c {
	/*清除浮动*/
	clear: both;
}


/*===========页面样式===============*/

.box {
	/*容器宽度*/
	width: 100vw;
	/*容器高度*/
	height: 100vh;
	/*超出部分隐藏*/
	overflow: hidden;
}

.pages {
	width: 100%;
	height: 100%;
	/*相对定位----子绝父相*/
	position: relative;
}

.pages>li {
	width: 100%;
	height: 100%;
	/*绝对定位*/
	position: absolute;
	/*left 位置*/
	left: 0;
	/*top 位置*/
	top: 0;
}

.page0 {
	/*第一页*/
	background-color: #f00;
}

.page1 {
	/*第二页*/
	background-color: #0f0;
}

.page2 {
	/*第三页*/
	background-color: #00f;
}

.page3 {
	/*第四页*/
	background-color: #f0f;
}

.page4 {
	/*第五页*/
	background-color: #0ff;
}


/*不需要的页面到底部去*/

.toBottom {
	transform: translateX(100%);
}


/*当前显示的页面平移到顶部*/

.toTop {
	animation: pageToTop .8s ease forwards;
}

@keyframes pageToTop {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}


/*即将显示的页面从底部上来*/

.fromBottom {
	animation: pageFromButtom .8s ease forwards;
}

@keyframes pageFromButtom {
	/*from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(0%);
	}*/
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

.pageToB {
	animation: pageToButtom .6s ease forwards;
}

@keyframes pageToButtom {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
	/*from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(100%);
	}*/
}

.pageFromT {
	animation: pageFromTop .6s ease forwards;
}

@keyframes pageFromTop {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

/*第一页*/
.page0-infor,.page1-infor,.page2-infor,.page3-infor,.page4-infor{
	padding: 15px;
	text-align: center;
}
.page0>p{
	margin-left: 15px;
	padding: 5px;
}


